<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>FirstServletProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>FirstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetParameterServlet</servlet-name>
        <servlet-class>GetParameterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetParameterValuesServlet</servlet-name>
        <servlet-class>GetParameterValuesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JPEGOutputServlet</servlet-name>
        <servlet-class>JPEGOutputServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/FirstServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetParameterServlet</servlet-name>
        <url-pattern>/GetParameterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetParameterValuesServlet</servlet-name>
        <url-pattern>/GetParameterValuesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JPEGOutputServlet</servlet-name>
        <url-pattern>/JPEGOutputServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>